.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  width: 150px;
  margin: 10px;
  transition: all 0.3s ease;
}

.book-item:hover {
  transform: scale(1.2);
  z-index: 1;
}

.book-image {
  width: 100%;
}

.book-info {
  display: none;
}

.book-item:hover .book-info {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
}

.star {
  color: gray;
}

.star.filled {
  color: orange;
}