.contact-info {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.contact-info-box {
  background-color: #f5f5f5;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contact-info-box h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
}

.contact-info-box a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  color: #333;
}

.contact-info-box p {
  margin-bottom: 0;
  text-align: center;
}


/*.contact-info {
  position: fixed;
  right: 150px;
  top: calc(100% - 60vh);
  display: flex;
  flex-direction: column;
}

.contact-info-box h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.contact-info-box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  display: flex;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.contact-info a:hover {
  text-decoration: underline;
}
*/