.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* size: 50%; */
  }
  
  .image {
    max-width: 100%;
    margin: auto;
    transition: transform 0.3s ease;
  }
  
  .image-wrapper:hover .zoom {
    cursor: zoom-in;
    transform: scale(2);
  }
  
  .caption {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
    text-align: center;
  }
  